* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
.ant-btn-primary {
    box-shadow: none;
  } 

  .ant-upload-list-item.ant-upload-list-item-uploading .ant-upload-icon {
    display: none;
  }
  
  a:hover { text-decoration: underline; }